:root {
    --main: #348CCC;
    --main-hover: #70aedb;
}

.main-container {
    width: 650px; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 2rem!important;
}

.div-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

.inner-container {
    height: 420px;
}
.square {
    border-radius: 0px!important;
}

.begin-button {
    width: 650px !important;
}
.scrolldiv {
    overflow-y:scroll;
    height: 90%;
}
#question-container {
    display: none;
    position: relative;
    height: 100%;
}

#question-title {
    min-height: 96px;
}

#submit-btn {
    display: none;
}

#intro-text {
    position: relative;
    height: 100%;
}

/* ---Bootstrap overrides--- */

.bg-primary {
    background-color: var(--main)!important;
}
.btn-primary {
    background-color: var(--main)!important;
    border: none!important;
}
.btn-primary:hover {
    background-color: var(--main-hover)!important;
}
