:root {
    --main: #7A49A5;
    --main-hover: #BCA4D2;
}

.main-container {
    width: 650px; 
    /*height: 650px;*/ 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 2rem!important;
}

.div-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

.square {
    border-radius: 0px!important;
}

#question-container {
    display: none;
    min-height: 350px;
    position: relative;
}

#question-title {
    min-height: 96px;
}
#submit-btn {
    display: none;
}

/* ---Bootstrap overrides--- */

.bg-primary {
    background-color: var(--main)!important;
}
.btn-primary {
    background-color: var(--main)!important;
    border: none!important;
}
.btn-primary:hover {
    background-color: var(--main-hover)!important;
}
