:root {
    --main: #4055c1;
    --main-hover: #202a60;
    --secondary: #67a2a2;
    --secondary-hover: #036564;
}

.main-container {
    width: 1000px; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 2rem!important;
}

.div-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}
.div-footer1 {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
}

.inner-container {
    height: 700px;
}
.square {
    border-radius: 0px!important;
}

.begin-button {
    width: 1000px !important;
}
.scrolldiv {
    overflow-y:scroll;
    height: 85%;
}
#question-container {
    display: none;
    position: relative;
    height: 100%;
}

#question-title {
    min-height: 120px;
}

#submit-btn {
    display: none;
}

#intro-text {
    position: relative;
    height: 100%;
}

/* ---Bootstrap overrides--- */

.bg-primary {
    background-color: var(--main)!important;
}
.btn-primary {
    background-color: var(--main)!important;
    border: none!important;
}
.btn-primary:hover {
    background-color: var(--main-hover)!important;
}
.bg-secondary {
    background-color: var(--secondary)!important;
}
.btn-secondary {
    background-color: var(--secondary)!important;
    border: none!important;
}
.btn-secondary:hover {
    background-color: var(--secondary-hover)!important;
}
