{% extends "layout.html" %}

{% block title %}Admin Page - {% endblock %}
{% block header %}Admin Page{% endblock %}

{% block content %}
<div class="scrolldiv">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Question</th>
            <th scope="col">Type</th>
            <th scope="col">Sway</th>
            <th scope="col">Modify</th>
        </tr>
        </thead>
        <tbody>  
            {%for i in range(0, len)%} 
            <tr>
                <td>{{i+1}}.</td> 
                <td>{{question_list[i]['question_text']}}</td> 
                <td>{{question_list[i]['type']}}</td> 
                <td>{{question_list[i]['sway']}}</td> 
                <td>
                   <a href="#" onclick="editQuestion('{{i}}')"><img src="{{ url_for('static', filename='icons/edit-24px.svg')}}" /></a>
                   <a href="#" onclick="editQuestion('{{i}}')"><img src="{{ url_for('static', filename='icons/delete-24px.svg')}}" /></a>
                </td> 
            </tr> 
            {%endfor%} 
        </tbody>
    </table>
</div>
<div class="position-relative" style="height: 10%;">
    <div class="div-footer w-100">
        <button class="btn btn-primary square btn-block" onclick="addQuestion()">Add Question</button>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/admin.js')}}"></script>
{% endblock %}