{% extends "layout.html" %}
{% block header %}Political Compass Quiz{% endblock %}

{% block content %}
<div id="intro-text" class="text-black p-3">
    <h2>Introduction</h2>
    <p>
        {{ intro_text }}
    </p>
    <div class="text-center div-footer">
        <button class="btn btn-primary square btn-block begin-button" onclick="startQuiz()">Click here to begin</button>
    </div>
</div>
<div id="question-container" class="text-black text-left p-3">
    <div class="d-inline-block text-left mb-5">
        <h5 id="question-title">Question Title</h5>
        <label class="d-block"><input id="SA" type="radio" name="question-radio" value="2"> Strongly Agree</label>
        <label class="d-block"><input id="A" type="radio" name="question-radio" value="1"> Agree</label>
        <label class="d-block"><input id="neutral" type="radio" name="question-radio" value="0" checked> Neutral</label>
        <label class="d-block"><input id="D" type="radio" name="question-radio" value="-1"> Disagree</label>
        <label class="d-block"><input id="SD" type="radio" name="question-radio" value="-2"> Strongly Disagree</label>
    </div>
    <p class="text-center font-weight-bold p-3">
        <span id="question-counter">0</span> / <span id="question-counter-max">0</span>
    </p>
    <div class="btn-group btn-block div-footer">
        <button type="button" class="btn btn-primary square w-50" onclick="previousQuestion()">Back</button>
        <button id="next-btn" type="button" class="btn btn-primary square w-50" onclick="nextQuestion()">Next</button>
        <button id="submit-btn" type="button" class="btn btn-primary square w-50" onclick="submitAnswer()">Submit</button>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<script>
    loadJson("{{ config_json }}", "{{ question_list }}");
</script>
{% endblock %}